<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li>
    <%= link_to(edit_user_registration_path) do %>
      <img width="20" class="pull-left" style="margin-right: 10px;" src="<%= current_user.gravatar_url %>" alt="Your gravatar!">
      <%= if current_user.name.nil? or current_user.name.empty? then current_user.email[/[^@]+/] else current_user.name end %>
    <% end %>
  </li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>